{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>

<body class="container">
    <header class="container">
        <nav class="nav nav-pills nav-fill my-2">
            <a class="nav-link" aria-current="page" href="/">Top</a>
            <a class="nav-link" href="/database_app">List</a>
            <a class="nav-link" href="/database_app/message">Message</a>
            <a class="nav-link" href="/database_app/check">Check</a>
            <a class="nav-link" href="/database_app/find">Search</a>
            <a class="nav-link" href="/admin">Register</a>
        </nav>
    </header>
    <h1 class="display-4 text-primary">{{ title }}</h1>
    <p>※以下のレコードを削除します。</p>
    <table class="table">
        <tr><th>ID</th><td>{{ obj.id }}</td></tr>
        <tr><th>Name</th><td>{{ obj.name }}</td></tr>
        <tr><th>Gender</th><td>
            {% if obj.gender == False %}male{% endif %}
            {% if obj.gender == True %}female{% endif %}
        </td></tr>
        <tr><th>Email</th><td>{{ obj.mail }}</td></tr>
        <tr><th>Age</th><td>{{ obj.age }}</td></tr>
        <tr><th>Birth</th><td>{{ obj.birthday }}</td></tr>

        <form action="{% url 'delete' id %}" method="post">
            {% csrf_token %}
            <tr><th></th><td>
                <input type="submit" value="click"
                    class="btn btn-primary" />
            </td></tr>
        </form>
    </table>
</body>

</html>