<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div :class="{ 'is-active': isActive }" class="btn-humburger" @click="toggleButton">
            <div></div>
            <div></div>
        </div>

        <div :style="bindStyle">Sample</div>
        <div :style="{ width: width + 'px', height: height + 'px', backgroudColor: bgColor }">sample02</div>

        <p>
            <span>大きさ：</span>
            <input type="range" v-model="range" max="500" min="10" />
        </p>
        <p>
            <span>　赤　：</span>
            <input type="range" v-model="red" max="255" min="0" />
        </p>
        <p>
            <span>　緑　：</span>
            <input type="range" v-model="green" max="255" min="0" />
        </p>
        <p>
            <span>　青　：</span>
            <input type="range" v-model="blue" max="255" min="0" />
        </p>
        <div :style="bindColor"></div>

        <div :class="{ 'is-active': isActive }"></div>
        <div :class="classObj"></div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../js/app.js"></script>
</body>
</html>