<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"></meta>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <title>書籍詳細</title>
  <link rel="stylesheet" type="text/css" href="/webjars/Semantic-UI/2.3.1/semantic.min.css"></link>
  <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
  <script src="/webjars/Semantic-UI/2.3.1/semantic.min.css"></script>
  <style type="text/css">
  .main.container {
    padding: 6em 2em 2em;
  }
  </style>
</head>
<body>
  <div>
    <!-- ナビゲーションバー -->
    <div class="ui grid">
      <div class="ui fixed top menu">
        <a class="brand item" href="/">成績管理システム</a>
        <div class="item">成績詳細</div>
      </div>
    </div>

    <!-- コンテンツ -->
    <div class="main ui container">
      <div class="ui form">
        <div class="field">
          <label for="studentNumber">学籍番号</label>
          <p th:text="${score.studentNumber}"></p>
        </div>

        <div class="field">
          <label for="name">氏名</label>
          <p th:text="${score.name}"></p>
        </div>

        <div class="field">
          <label for="mathScore">数学</label>
          <p th:text="${score.mathScore}"></p>
        </div>

        <div class="field">
          <label for="englishScore">英語</label>
          <p th:text="${score.englishScore}"></p>
        </div>

        <div class="field">
          <label for="physicsScore">物理</label>
          <p th:text="${score.physicsScore}"></p>
        </div>

        <div class="field">
          <label for="totalScore">合計点</label>
          <p th:text="${score.totalScore}"></p>
        </div>

        <div class="field">
          <label for="averageScore">平均点</label>
          <p th:text="${#numbers.formatDecimal(score.averageScore, 0, 1)}"></p>
        </div>

        <a th:href="@{/list}" class="ui primary button">OK</a>
      </div>
    </div>
  </div>
</body>
</html>