<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"></meta>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <title>エラー</title>
  <link rel="stylesheet" type="text/css" href="/webjars/Semantic-UI/2.3.1/semantic.min.css"></link>
  <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
  <script src="/webjars/Semantic-UI/2.3.1/semantic.min.css"></script>
  <style type="text/css">
  .main.container {
    padding: 6em 2em 2em;
  }
  </style>
</head>
<body>
  <div>
    <!-- ナビゲーションバー -->
    <div class="ui grid">
      <div class="ui fixed top menu">
        <a class="brand item" href="/">書籍管理システム</a>
      </div>
    </div>

    <!-- コンテンツ -->
    <div class="main ui container">
      <div class="ui warning message">
        <div class="header">サーバエラーが発生しました!</div>
      </div>
    </div>
  </div>
</body>
</html>